<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer page</title>
</head>
<body>
    <h1>Customer Home Page</h1>
    <table>
        <tr>

        </tr>
        <tr>
            <td>
                <img src="{{r.picture}} " >
            </td>
            <td>{{r.cuisine}}</td>
            <td>{{r.rating</td>
            <td>
                <a href="{% url 'view_menu' r.id username %}"> View Menu</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>