<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Restaurant</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Cisine</th>
                <th>Rating</th>
                <th>Other Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for restaurant in restaurants %}
            <tr>
                <td>
                    <img src="{{ restaurant.picture }}" alt="Picture of {{ restaurant.name }}" width="100">
                </td>
                <td>{{ restaurant.name }}</td>
                <!--<td>{{restaurant.picture}}</td>-->
                <td>{{ restaurant.cuisine }}</td>
                <td>{{ restaurant.rating }}/5</td>
                <td>
                    <a href="{% url 'open_update_restaurant' restaurant.id %}">Upadate Restaurant</a>
                    <br>
                    <form method="POST" action="{% url 'delete_restaurant' restaurant.id %}">
                    {% csrf_token %}
                        <button type="submit">Delete Restaurant</button>
                    </form>
                    <br>
                    <a href="{% url 'open_update_menu' restaurant.id %}">Upadate Menu</a>
                    <br>
                </td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
</body>
</html>